[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
uvloop = "*"
aiofiles = "*"
aiohttp = "*"
aiorun = "*"
async-timeout = "*"
lxml = "*"
python-rocksdb = "*"
gunicorn = "*"
tqdm = "*"
starlette = "*"
uvicorn = "*"
tabulate = "*"

[dev-packages]
ipython = "*"
pip-licenses = "*"

[requires]
python_version = "3.7"
