[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
uvloop = "*"
aiofiles = "*"
aiohttp = "*"
aiorun = "*"
async-timeout = "*"
lxml = "*"
python-rocksdb = "*"
"beautifulsoup4" = "*"
apistar = "*"
uvicorn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
